<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FoodHub</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        a {
            color: chartreuse;
        }
 

        a:hover {
            color: coral;
        }

        input {
            background-color: darkslategray;
        }
    </style>
</head>



<body style="background-color: darkcyan; color: cornsilk">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span style="font-size: x-large; font-family:'Adobe Gothic Std'">
                    @Html.ActionLink("🍕 Food Hub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Restaurants", "Index", "Restaurants")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if(TempData["Message"] != null)
            {
                <div class="alert alert-info">@TempData["Message"]</div> 
            }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UniCorn Solutions - Sri Lanka 🦄 @(ViewBag.Msg != "" ? ViewBag.Msg : "")</p>
            @RenderSection("footer", required: false)
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
